<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title home
    link(rel="stylesheet", href="/css/home.css")
  body
    .table-forecast
      .room-list
        each room in roomList
          .room(r-id= room.room.id)
            p.name= room.room.name
            p.tenant= room.tenant
      .time-table
        h2= thisYear
        .month-list
          each month in monthList
            .month
              p= month